<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <lbd-chart
                  [title]="'Library Statistics'"
                  [subtitle]="'Current Inventory Status'"
                  [chartClass]="'ct-perfect-fourth'"
                  [chartType]="emailChartType"
                  [chartData]="emailChartData"
                  [legendItems]="emailChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-clock-o'"
                  [footerText]="'as of 2 days ago'">
                </lbd-chart>
            </div>
            <div class="col-md-5">
                <lbd-chart
                  [title]="'User Behavior'"
                  [subtitle]="'24 Hours performance'"
                  [chartType]="hoursChartType"
                  [chartData]="hoursChartData"
                  [chartOptions]="hoursChartOptions"
                  [chartResponsive]="hoursChartResponsive"
                  [legendItems]="hoursChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-history'"
                  [footerText]="'Updated 1 hour ago'">
                </lbd-chart>
			</div>
			<div class="col-md-3">
					<div class="card">
							<div class="header">
								<h4 class="title">Searched Terms</h4>
								<p class="category">Realtime Search Terms Of Users</p>
							</div>
							<div class="content">
								<div class="table-full-width">
									<table class="table">
										<tbody>
											<tr *ngFor="let search of liveSearch | slice:0:8; let i = index;">
												<td>
													{{search.terms}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="footer">
									<hr>
									<div class="stats">
										<i class="fa fa-lock"></i> Secure Websocket
									</div>
								</div>
							</div>
						</div>
			</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <lbd-chart
                  [title]="'2018 Genre Popularity'"
                  [subtitle]="'All library usage by genre'"
                  [chartType]="activityChartType"
                  [chartData]="activityChartData"
                  [chartOptions]="activityChartOptions"
                  [chartResponsive]="activityChartResponsive"
                  [legendItems]="activityChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-check'"
                  [footerText]="'Data information certified'">
                </lbd-chart>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Events</h4>
                        <p class="category">Citywide Library Events</p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
							<div *ngIf="!(libEvents$ | async)" class="text-center">
								<i class="pe-7s-refresh"></i>
							</div>
                            <table class="table" *ngIf="libEvents$ | async">
                                <tbody>
                                    <tr *ngFor="let event of (libEvents$ | async) | slice:0:9; let i = index;">
										<td>
											{{event.title}} <br />
											<a class="smaller" href="{{event.link}}" target="_blank">{{event.library}}</a> 
											<em>{{ i + 8 }} Participants</em>
										</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
